name: Push Docker Image & Deploy to S3

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag safetyvision/safety-vision-ui:latest
    - name: Run unit tests
      run: docker-compose run test-ci
    - name: Login to Docker
      env:
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: docker login --username safetyvision --password $DOCKER_PASSWORD
    - name: Push Docker image
      run: docker push safetyvision/safety-vision-ui:latest
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}
    - name: Build React App
      run: |
        docker create -ti --name builder safetyvision/safety-vision-ui bash
        docker cp builder:/code/build ./
        docker rm -f builder
    - name: Deploy app build to S3 bucket
      run: aws s3 sync ./build/ s3://safety-vision-ui --delete
